[mysqld]
datadir                         = /var/lib/mysql
socket                          = /var/lib/mysql/mysql.sock
bind-address                    = {{ bind_address }}
port                            = 3306
default_storage_engine          = InnoDB
character-set-server            = utf8
collation-server                = utf8_general_c

log_error                       = /var/log/mariadb/mariadb.log
slow_query_log                  = 1
long_query_time                 = 2
log-queries-not-using-indexes

log_bin                         = /var/lib/mysql/mysql-bin.log
sync_binlog                     = 1
binlog_format                   = ROW
expire_logs_days                = 2
max_binlog_size                 = 100M

default_storage_engine          = InnoDB
innodb_autoinc_lock_mode        = 2
innodb_file_per_table
innodb_thread_concurrency       = 0
innodb_buffer_pool_size         = 50M
innodb_log_buffer_size          = 64M
innodb_log_file_size            = 5M


symbolic-links                  = 0

skip-name-resolve

wsrep_provider="/usr/lib64/galera/libgalera_smm.so"
wsrep_provider_options="gcache.size=2G"
wsrep_cluster_name={{ galera_cluster_name }}
wsrep_sst_method=rsync
wsrep_node_name={{ ansible_fqdn }}
{% if galera_master == "master" %}
wsrep_cluster_address=gcomm://
{% else %}
wsrep_cluster_address=gcomm://{% for cluster in groups['openstack-controller'] -%}
{{ cluster }}
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endif %}

wsrep_node_address={{ inventory_hostname  }}

[mysqld_safe]
log-error                       = /var/log/mariadb/mariadb.log
pid-file                        = /var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
