[DEFAULT]
admin_token = {{ keystone_admin_token }}
verbose = True
rabbit_hosts = {% for keystone_host in groups['openstack-keystone'] -%}
{{ keystone_host }}:5672
{%- if not loop.last -%},{%- endif -%}
{% endfor %}

rabbit_ha_queues = True
[assignment]
[auth]
[cache]
[catalog]
[cors]
[cors.subdomain]
[credential]
[database]
connection = mysql://keystone:{{ keystone_database_pass }}@{{ openstack_ha_domain }}/keystone
[domain_config]
[endpoint_filter]
[endpoint_policy]
[eventlet_server]
[eventlet_server_ssl]
[federation]
[fernet_tokens]
[identity]
[identity_mapping]
[kvs]
[ldap]
[matchmaker_redis]
[matchmaker_ring]
[memcache]
[oauth1]
[os_inherit]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[paste_deploy]
[policy]
[resource]
[revoke]
driver = sql
[role]
[saml]
[signing]
[ssl]
[token]
provider = uuid
driver = sql
[tokenless_auth]
[trust]
[memcached]
servers = {% for keystone_host in groups['openstack-keystone'] -%}
{{ keystone_host }}:11211
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
