listen_tls = 0
listen_tcp = 1
auth_tcp = "none"
log_filters="1:libvirt 1:qemu 1:conf 1:security 3:event 3:json 3:file 3:object 1:util 1:qemu_monitor"
log_outputs="1:file:/var/log/libvirt/libvirtd.log"
